<p id="notice"><%= notice %></p>

<div class="container"><h1>Listing Green Cards</h1></div>
<br>

<div class="container">
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">First name</th>
      <th scope="col">Second name</th>
      <th scope="col">Father name</th>
      <th scope="col">Phone</th>
      <th>Added</th>
      <th scope="col",colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @green_cards.each do |green_card| %>
      <tr>
        <td><%= green_card.first_name %></td>
        <td><%= green_card.second_name %></td>
        <td><%= green_card.father_name %></td>
        <td><%= green_card.phone %></td>
        <td><%= green_card.added %></td>
        <td><%= link_to 'Show', green_card %></td>
        <td><%= link_to 'Edit', edit_green_card_path(green_card) %></td>
        <td><%= link_to 'Destroy', green_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>
<div class="container">
<p type="button" class="btn btn-light"><%= link_to 'New Green card', new_green_card_path %></p>
<p type="button" class="btn btn-light"><%= link_to 'New Client', new_green_card_path %></p>
</div>
