<p id="notice"><%= notice %></p>

<h1>Перелік клієнтів</h1>

<table>
  <thead>
    <tr>
      <th>Ім'я</th>
      <th>Прізвище</th>
      <th>З якого офісу</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.first_name %></td>
        <td><%= client.second_name %></td>
        <td><%= client.office_number %></td>
        <td><%= link_to 'Показати', client %></td>
        <td><%= link_to 'Змінити', edit_client_path(client) %></td>
        <td><%= link_to 'Видалити', client, method: :delete, data: { confirm: 'Ви впевнені?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новий клієнт', new_client_path %>
