<div class="container">
<p id="notice"><%= notice %></p>

<h1>Перелік клієнтів</h1>
<br>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Ім'я</th>
      <th scope="col">Прізвище</th>
      <th scope="col">По батькові</th>
      <th scope="col">З якого офісу</th>
      <th scope="col">Назва вакансії</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.first_name %></td>
	<td><%= client.second_name %></td>
	<td><%= client.father_name %></td>
	<td><%= client.office_number %></td>
	<td><%= client.job_title %></td>
        <td><%= link_to 'Показати', client %></td>
        <td><%= link_to 'Змінити', edit_client_path(client) %></td>
        <td><%= link_to 'Видалити', client, method: :delete, data: { confirm: 'Ви впевнені?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'Новий клієнт', new_client_path %>
</div>
